@use "./variables.scss" as *;

:root {
  --headerFont: "Be Vietnam Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --titleFont: "Be Vietnam Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --bodyFont: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --codeFont: "JetBrains Mono", monospace;
}

h1, h2, h3, h4, h5, h6, 
.article-title, 
.page-title, 
.page-title a, 
.nav-file-title, 
.folder-title,
.title-button,
b, strong {
  font-family: var(--headerFont) !important;
}
